<div class="container mt-4" id="mainContainer">
    <div class="row">
        <div class="col-9">
            <div class="container" id="hot-novel-list">
                <div class="d-flex mb-3">
                    <div class="me-auto p-2">
                        <div class="title-list">
                            <h2>Truyện HOT</h2>
                        </div>
                    </div>
                    
                    <div class="p-2">
                        <select id="hot-select" class="form-select rounded-pill border-dark" aria-label="Default select example">
                            {{#each hotSelect}}
                                <option value={{this.value}}>{{this.text}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>

                <div class="row mb-4" id="bookListContainer">
                    {{#each hotNovels}}
                    <div class="col-3 mb-4 ml-4">
                        <div class="card h-100 position-relative">
                            <a href="/{{slug}}/">
                                <img src="{{image}}" class="card-img img-fluid object-fit-cover w-100" alt="{{title}}">
                            </a>
                            <div class="card-body d-flex flex-column position-absolute bottom-0 start-50 translate-middle-x w-100" style="color: #fff; background-color: rgba(0, 0, 0, 0.5);">
                                <h6 class="card-title text-center">{{title}}</h6>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>

            <div class="container" id="new-novel-list">
                <div class="d-flex mb-3">
                    <div class="me-auto p-2">
                        <div class="title-list">
                            <h2>Truyện MỚI CẬP NHẬT</h2>
                        </div>
                    </div>

                    <div class="p-2">
                        <select id="new-select" class="form-select rounded-pill border-dark" aria-label="Default select example">
                            {{#each hotSelect}}
                                <option value={{this.value}}>{{this.text}}</option>
                            {{/each}}
                        </select>
                    </div>

                </div>

                <div class="row mb-4">
                    <table class="table table-hover">     
                        <tbody id="newListContainer">
                            {{#each newNovels}}
                            <tr>
                                <td><a class="text-link" href="/{{this.slug}}/">{{title}}</a></td>
                                <td>{{#eachGenres genres genreUrls}}
                                      <a class="text-link" href="{{this.url}}">{{this.name}}</a>{{#unless @last}}, {{/unless}}
                                     {{/eachGenres}}</td>
                                <td><a class="text-link" href="/{{chapterSlug}}/">{{latestChapter}}</a></td>
                                <td>{{updateTime}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        <div class="col-3">
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="title-list">
                        <h5 class="text-center">Truyện ĐANG ĐỌC</h5>
                    </div>
                </li>
                {{#each historyList}}
                <li class="list-group-item d-flex justify-content-between">
                    <span><a class="text-link" href="/{{this.slug}}">{{this.title}}</a></span>
                    <div class="separator"></div>
                    <span><a class="text-link" style="padding-left: 10px; color:blue" href="/{{this.slug}}/chuong-{{this.chapterNumber}}">Chương {{this.chapterNumber}}</a></span>
                </li>
                {{/each}}
            </ul>
            <ul class="list-group text-center mt-4">
                <li class="list-group-item">
                    <div class="title-list">
                        <h5>Thể loại truyện</h5>
                    </div>
                </li>
                {{#each genresList}}
                <li class="list-group-item"><a class="text-link" href="/genre/{{this.slug}}">{{this.genre}}</a></li>
              {{/each}}
            </ul>
            
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#hot-select').on('change', function() {
            var selectedValue = $(this).val();
            var url = 'http://localhost:3000/ajax?type=hot_select&id=' + selectedValue;

            $.ajax({
                url: url,
                method: 'GET',
                success: function(data) {
                    var hotNovels = data.hotNovels;  // Adjust according to the structure of the response
                    var container = $('#bookListContainer');
                    container.empty();  // Clear the current content

                    hotNovels.forEach(function(novel) {
                        var novelHtml = `
                            <div class="col-3 mb-4 ml-4">
                                <div class="card h-100 position-relative">
                                    <a href="/${novel.slug}/">
                                        <img src="${novel.image}" class="card-img img-fluid object-fit-cover w-100" alt="${novel.title}">
                                    </a>
                                    <div class="card-body d-flex flex-column position-absolute bottom-0 start-50 translate-middle-x w-100" style="color: #fff; background-color: rgba(0, 0, 0, 0.5);">
                                        <h6 class="card-title text-center">${novel.title}</h6>
                                    </div>
                                </div>
                            </div>
                        `;
                        container.append(novelHtml);
                    });
                },
                error: function(err) {
                    console.error('Error loading content:', err);
                }
            });
        });

        $('#new-select').on('change', function() {
            var selectedValue = $(this).val();
            var url = 'http://localhost:3000/ajax?type=new_select&id=' + selectedValue;

            $.ajax({
                url: url,
                method: 'GET',
                success: function(data) {
                    var newNovels = data.newNovels;  // Adjust according to the structure of the response
                    var container = $('#newListContainer');
                    container.empty();  // Clear the current content

                    newNovels.forEach(function(novel) {
                        var genres = novel.genres.map(function(genre, index) {
                            var genreHtml = `<a class="text-link" href="${novel.genreUrls[index]}">${genre}</a>`;
                            if (index < novel.genres.length - 1) {
                                genreHtml += ', ';
                            }
                            return genreHtml;
                        }).join('');

                        var novelHtml = `
                            <tr>
                                <td><a class="text-link" href="/${novel.slug}/">${novel.title}</a></td>
                                <td>${genres}</td>
                                <td><a class="text-link" href="/${novel.chapterSlug}/">${novel.latestChapter}</a></td>
                                <td>${novel.updateTime}</td>
                            </tr>
                        `;
                        container.append(novelHtml);
                    });
                },
                error: function(err) {
                    console.error('Error loading content:', err);
                }
            });
        });
        $('#searchForm').on('submit', function(e){
            e.preventDefault();
            var container = $('#mainContainer');
            container.empty();  // Clear the current content
            var searchInput = $('#searchInput').val();
            {{!-- if(searchInput.length <= 3){
                var novelHtml = `
                        <h2 class="my-4">Danh sách truyện</h2>
                                <div class="row" id="novel-list">
                                    No result 
                                </div>
                        `;
                        container.append(novelHtml);
                return;
            } --}}
            var url = 'http://localhost:3000/search?name=' + searchInput;
            const newUrl = `/search?name=${searchInput.replace(/ /g, '+')}`;
            history.pushState({ searchInput: searchInput.replace(/ /g, '+')}, '', newUrl);
            $.ajax({
                url: url,
                method: 'POST',
                success: function(data) {
                    var novelsResult = data.searchResult;  // Adjust according to the structure of the response
                    console.log(novelsResult)
                   
                    if(novelsResult.length==0){
                        var novelHtml = `
                        <h2 class="my-4">Danh sách truyện</h2>
                                <div class="row" id="novel-list">
                                    No result or Search string is too short 
                                </div>
                        `;
                        container.append(novelHtml);
                    }
                    else{
                        var novelHtml = `
                        <h2 class="my-4">Danh sách truyện</h2>
        <div class="row" id="novel-list">`
                        novelsResult.forEach(function(novel) {
                            novelHtml += `
                                <div class="col-md-2 novel-card">
            <div class="card">
                        <img src="${novel.image}" class="card-img-top" alt="${novel.title}">
                        <div class="novel-info">
                            <h5 class="novel-title"><a href="${novel.slug}">${novel.title}</a></h5>
                            <p class="novel-author">Tác giả: ${novel.author}</p>
                            <p class="novel-chapter">Chương mới nhất: ${novel.chapter}</p>
                        </div>
            </div>
           </div>
                            `;
                        });
                        novelHtml +=  `</div>`;
                        container.append(novelHtml);
                    }
                    
                },
                error: function(err) {
                    console.error('Error loading content:', err);
                }
            });
        });
    });
    document.addEventListener("DOMContentLoaded", function () {
        /*Thay đổi màu nền*/
        var backgroundColorSelect = document.querySelector("#background-color-select");
        var backgroundDiv = document.querySelector("#background-div");

        // Gán sự kiện onchange cho select element
        backgroundColorSelect.addEventListener("change", function () {
            var selectedBackgroundColor = backgroundColorSelect.value;
            localStorage.setItem("selectedBackgroundColor", selectedBackgroundColor);
            applySelectedBackgroundColor();
        });

        function applySelectedBackgroundColor() {
            var storedBackgroundColor = localStorage.getItem("selectedBackgroundColor");
            if (storedBackgroundColor) {
                var bodyElement = document.querySelector("body");
                bodyElement.classList.remove("bg-white", "bg-cream", "bg-peachpuff", "bg-gray");
                bodyElement.classList.add(storedBackgroundColor);
                backgroundColorSelect.value = storedBackgroundColor; // Cập nhật giá trị được chọn trên dropdown menu
                backgroundDiv.style.backgroundColor = storedBackgroundColor === "bg-white" ? "#EFF8FE" : "white";
            }
        }

        applySelectedBackgroundColor();
    });
</script>